/* You can add global styles to this file, and also import other style files */

html {
    background-color: rgba(0, 0, 0, .90);
    background-image: url("https://i.redd.it/ej6g6mu3tey41.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}